@page "/"
@using System.Security.Claims
@inject NavigationManager Navigation
@using Microsoft.AspNetCore.Components.Authorization

<h1>Welcome to Crystal Meds</h1>

<p>
    A perfect place for all your healthCare needs.
</p>

<footer>
    <p>&copy; 2024 crystal meds. All rights reserved. | </p>
</footer>


@code {

}